body {
  font-family: "PT Sans Narrow", sans-serif;
  color: #404040;
}

.container {
  background: #f8f8f8;
  border: 1px solid #484848;
  padding: 10px;
}
.container > h2 {
  font-size: 24px;
  font-weight: normal;
  line-height: 50px;
  margin: 0 auto 23px;
  padding-left: 80px;
  text-transform: uppercase;
  color: #fff;
  background-color: #484848;
  background-image: url("http://www.coolwebmasters.com/templates/coolwebmasters-2014/images/dlet-sbicon5.gif"),
    url("http://www.coolwebmasters.com/templates/coolwebmasters-2014/images/dlet-sbspan.gif");
  background-repeat: no-repeat;
  background-position: 0, right;
}
.tags {
  text-align: justify;
  margin-bottom: 13px;
}
.tag {
  display: inline-block;
  text-decoration: none;
  color: #424242;
  background: #fff;
  margin: 4px;
  padding: 2px 5px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  transition: 0.15s;
}
.show_all {
  display: inline-block;
  color: #424242;
  text-decoration: none;
  padding: 2px 5px;
  margin-bottom: 5px;
  transition: 0.15s;
  margin-left: 4px;
}

.tag:hover,
.show_all:hover {
  background: #424242;
  color: #fff;
  border-radius: 5px;
}
